################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DC_ASG1/FileContentIndex/ea3bf4b2-8022-482c-ab25-4f7259779442.vsidx
